# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# SQLite database files
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg info
*.egg-info/
dist/