email-validator>=2.3.0
flask-dance>=7.1.0
flask>=3.0.3
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
oauthlib>=3.3.1
psycopg2-binary>=2.9.10
pyjwt>=2.9.0
sqlalchemy>=2.0.43
werkzeug>=3.0.6
flask-login>=0.6.3
openpyxl>=3.1.5
reportlab>=4.4.3
pandas>=2.0.3
matplotlib>=3.7.5
weasyprint>=61.2
markdown>=3.4.4
pygments>=2.19.2
